<a href="https://colab.research.google.com/github/mvince33/Coding-Dojo/blob/main/avg_height_olympian.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Average Height Exercise
- Michael Vincent
- 6/28/22

In [1]:
from google.colab import drive
import numpy as np
import pandas as pd

In [2]:
path = '/content/drive/MyDrive/Coding Dojo/03 Week 3: Exploratory Viz/athleteEventsNoPersonal.csv'
df = pd.read_csv(path)
df.head()

,ID,Age,Height,Team,NOC,Games,Year,Season,City,Sport,Event,Medal
0,5,21.0,185.0,Netherlands,NED,1988 Winter,1988,Winter,Calgary,Speed Skating,Speed Skating Women's 500 metres,NaN
1,5,21.0,185.0,Netherlands,NED,1988 Winter,1988,Winter,Calgary,Speed Skating,"Speed Skating Women's 1,000 metres",NaN
2,5,25.0,185.0,Netherlands,NED,1992 Winter,1992,Winter,Albertville,Speed Skating,Speed Skating Women's 500 metres,NaN
3,5,25.0,185.0,Netherlands,NED,1992 Winter,1992,Winter,Albertville,Speed Skating,"Speed Skating Women's 1,000 metres",NaN
4,5,27.0,185.0,Netherlands,NED,1994 Winter,1994,Winter,Lillehammer,Speed Skating,Speed Skating Women's 500 metres,NaN

In [3]:
r = df.shape[0]
c = df.shape[1]
print(f"There are {r} rows and {c} columns in the dataset.")

There are 40616 rows and 12 columns in the dataset.

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 40616 entries, 0 to 40615
Data columns (total 12 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   ID      40616 non-null  int64
 1   Age     39143 non-null  float64
 2   Height  31615 non-null  float64
 3   Team    40616 non-null  object
 4   NOC     40616 non-null  object
 5   Games   40616 non-null  object
 6   Year    40616 non-null  int64
 7   Season  40616 non-null  object
 8   City    40616 non-null  object
 9   Sport   40616 non-null  object
 10  Event   40616 non-null  object
 11  Medal   5917 non-null   object
dtypes: float64(2), int64(2), object(8)
memory usage: 3.7+ MB

We see that the colums "Age", "Height", and "Medal" have missing values. "Medal" likely has so many missing values since only a small fraction of the athletes that compete in the Olympics will earn a medal.

In [5]:
# Determine how many entries are associated with the city of London.

print(f"There are {(df['City'] == 'London').sum()} entries corresponding with London.")

There are 3370 entries corresponding with London.

In [6]:
# Find the youngest athelete.
min_age = df['Age'].min()
print(f'The youngest athlete was {min_age} years old.')

The youngest athlete was 11.0 years old.

In [7]:
# Find the number of Swedish athletes competing in Tug-Of-War.
tug_of_war_filter = df['Sport'] == 'Tug-Of-War'
swedish_filter = df['Team'] == 'Sweden'
swede_tow_count = len(df[tug_of_war_filter & swedish_filter])
print(f"There were {swede_tow_count} Swedes competing in the Tug-Of-War event.")

There were 6 Swedes competing in the Tug-Of-War event.

In [8]:
# Find the number of atheletes over 40 that earned gold medals.
filter = (df['Medal'] == 'Gold') & (df['Age'] > 40)
over40_gold_count = len(df[filter])
print(f"There were {over40_gold_count} gold medals awarded to athletes over 40.")

There were 66 gold medals awarded to athletes over 40.

In [12]:
# Find average ages
average_age = df['Age'].mean()
average_age_by_event = df.groupby('Event')['Age'].mean()
print(f'The average age of the athletes was {round(average_age, 1)}')
print()
print('The following gives the average age by event.')
print()
print(average_age_by_event)

The average age of the athletes was 25.6

The following gives the average age by event.

Event
Alpine Skiing Men's Combined                      24.197183
Alpine Skiing Men's Downhill                      24.213904
Alpine Skiing Men's Giant Slalom                  23.379913
Alpine Skiing Men's Slalom                        23.142241
Alpine Skiing Men's Super G                       24.401961
                                                    ...
Wrestling Women's Flyweight, Freestyle            25.200000
Wrestling Women's Heavyweight, Freestyle          25.333333
Wrestling Women's Light-Heavyweight, Freestyle    24.500000
Wrestling Women's Lightweight, Freestyle          23.666667
Wrestling Women's Middleweight, Freestyle         25.066667
Name: Age, Length: 726, dtype: float64

In [13]:
# Find the average age where each athlete is only counted once.
df['ID'].value_counts()
one_per_athlete = df.drop_duplicates(subset='ID', keep='first')
avg_age_one_athlete = one_per_athlete['Age'].mean()
avg_age_one_athlete_by_event = df.groupby('Event')['Age'].mean()
print(avg_age_one_athlete_by_event)

Event
Alpine Skiing Men's Combined                      24.197183
Alpine Skiing Men's Downhill                      24.213904
Alpine Skiing Men's Giant Slalom                  23.379913
Alpine Skiing Men's Slalom                        23.142241
Alpine Skiing Men's Super G                       24.401961
                                                    ...
Wrestling Women's Flyweight, Freestyle            25.200000
Wrestling Women's Heavyweight, Freestyle          25.333333
Wrestling Women's Light-Heavyweight, Freestyle    24.500000
Wrestling Women's Lightweight, Freestyle          23.666667
Wrestling Women's Middleweight, Freestyle         25.066667
Name: Age, Length: 726, dtype: float64