<a href="https://colab.research.google.com/github/mvince33/Coding-Dojo/blob/main/Challenge_Week_2%2C_Day_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<center>
<img src="https://course_report_production.s3.amazonaws.com/rich/rich_files/rich_files/2470/s300/cd-logo-blue-600x600.png" alt="Coding Dojo Logo" class="center" height="50">

# Data Cleaning

*Make a copy of this notebook to edit!*
```
File > Save a copy in Drive
```

We will use data on the Super Bowls. You can download the data [here](https://drive.google.com/file/d/1kWqIFO9LgVlMsYG9M9boRKCFiizpUB5o/view?usp=sharing).

</center>

**Why do we need to clean our data?**

> Garbage in, garbage out.

> Quality data beats fancy algorithms.

Overall, incorrect data is either removed, corrected, or imputed. ([*source*](https://towardsdatascience.com/the-ultimate-guide-to-data-cleaning-3969843991d4))

Mount Data 
- Use the file URL below instead of mounting google drive.

In [1]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [2]:
file_url = "https://docs.google.com/spreadsheets/d/e/2PACX-1vSAwjsA-rwGlz_Bb0yIgC13scmhxQCjayvh-sp0v3lRMxejeem8ntBBcDpr4xbNNMiGzB8VGPKJzGJv/pub?output=csv"

**Import Libraries**

In [3]:
# Imports
import pandas as pd
import numpy as np

**Load Data & view first 5 rows**

In [18]:
# Load Data
df = pd.read_csv(file_url)
df.head()

,Unnamed: 0,Date,SB,Attendance,QB Winner,Coach Winner,Winner,Winning Pts,QB Loser,Coach Loser,...,City,State,Point Difference,Referee,Umpire,Head Linesman,Line Judge,Field Judge,Back Judge,Side Judge
0,0,15-Jan-67,I,61946,Bart Starr,Vince Lombardi,Green Bay Packers,35,Len Dawson,Hank Stram,...,Los Angeles,California,25,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,14-Jan-68,II,75546,Bart Starr,Vince Lombardi,Green Bay Packers,33,Daryle Lamonica,John Rauch,...,Miami,Florida,19,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2,12-Jan-69,III,75389,Joe Namath,Weeb Ewbank,New York Jets,16,"Earl Morrall, Johnny Unitas",Don Shula,...,Miami,Florida,9,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,3,11-Jan-70,IV,80562,"Len Dawson, Mike Livingston",Hank Stram,Kansas City Chiefs,23,Joe Kapp,Bud Grant,...,New Orleans,Louisiana,16,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,4,17-Jan-71,V,79204,"Earl Morrall , Johnny Unitas",Don McCafferty,Baltimore Colts,16,Craig Morton,Tom Landry,...,Miami,FL,3,Norm Schachter,Paul Trepinski,Ed Marion,Jack Fette,Fritz Graf,Hugh Gamber,NaN

## Irrelevant data

Irrelevant data is information that is unnecessary or unrelated to our task.

Typically, we want to remove this data - but **only if you are absolutely sure it is irrelevant**. When in doubt, consult a subject matter expert.

**What column seems unnecessary in this dataset? Drop it.**

In [19]:
# List the columns
df.columns
del_cols = ['Unnamed: 0', 
            'SB', 
            'Referee',
            'Umpire',
            'Head Linesman',
            'Line Judge',
            'Field Judge',
            'Back Judge',
            'Side Judge']
df.drop(columns = del_cols, inplace = True)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 53 entries, 0 to 52
Data columns (total 15 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Date              53 non-null     object
 1   Attendance        53 non-null     int64
 2   QB  Winner        53 non-null     object
 3   Coach Winner      53 non-null     object
 4   Winner            53 non-null     object
 5   Winning Pts       53 non-null     int64
 6   QB Loser          53 non-null     object
 7   Coach Loser       53 non-null     object
 8   Loser             53 non-null     object
 9   Losing Pts        53 non-null     int64
 10  MVP               53 non-null     object
 11  Stadium           53 non-null     object
 12  City              53 non-null     object
 13  State             53 non-null     object
 14  Point Difference  53 non-null     int64
dtypes: int64(4), object(11)
memory usage: 6.3+ KB

## Duplicate data

It is common that your data has data points that are repeated. Duplicates should be removed.

**Check for and remove any duplicates in this data.**

In [20]:
df.duplicated().sum()

1

In [21]:
df[df.duplicated(keep = False)]

,Date,Attendance,QB Winner,Coach Winner,Winner,Winning Pts,QB Loser,Coach Loser,Loser,Losing Pts,MVP,Stadium,City,State,Point Difference
20,25-Jan-87,101063,Phil Simms,Bill Parcells,New York Giants,39,John Elway,Dan Reeves,Denver Broncos,20,Phil Simms,Rose Bowl,Pasadena,California,19
52,25-Jan-87,101063,Phil Simms,Bill Parcells,New York Giants,39,John Elway,Dan Reeves,Denver Broncos,20,Phil Simms,Rose Bowl,Pasadena,California,19

In [22]:
df.drop_duplicates(inplace = True)

In [23]:
df.duplicated().sum()

0

## Data types

You want your data to all be correct data types. There may be errors in your data causing numeric types to be read in as objects or dates that need to be converted to datetime objects. Additionally, we may want to convert our categorical variables to numbers.

**Check the datatypes & validate that they are what they should be. The `Date` column should be a DateTime type - fix this using `df['Date'] = pd.to_datetime(df['Date'])` if is not the case!**

In [24]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 52 entries, 0 to 51
Data columns (total 15 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Date              52 non-null     object
 1   Attendance        52 non-null     int64
 2   QB  Winner        52 non-null     object
 3   Coach Winner      52 non-null     object
 4   Winner            52 non-null     object
 5   Winning Pts       52 non-null     int64
 6   QB Loser          52 non-null     object
 7   Coach Loser       52 non-null     object
 8   Loser             52 non-null     object
 9   Losing Pts        52 non-null     int64
 10  MVP               52 non-null     object
 11  Stadium           52 non-null     object
 12  City              52 non-null     object
 13  State             52 non-null     object
 14  Point Difference  52 non-null     int64
dtypes: int64(4), object(11)
memory usage: 6.5+ KB

In [41]:
df['Date'] = pd.to_datetime(df['Date'])
date_filter = df['Date'] >= np.datetime64('2020-01-01')
df.loc[date_filter, 'Date']

0   2067-01-15
1   2068-01-14
2   2069-01-12
3   2070-01-11
4   2071-01-17
Name: Date, dtype: datetime64[ns]

Pandas is usually pretty good at converting date times.  However, when the year is 2 digits it can be ambiguous and Pandas may choose the wrong century.   

Check if this happened and if so, fix it.  Don't forget the `df.loc()` method.

You may have to convert it to a datetime again.

Hint: `df.loc[0, 'Date'] = '1967-01-15'`

## Syntax or spelling errors

Common syntax errors include extra white spaces at the beginning or end of strings or column names.

There may also be typos or inconsistencies in strings that need to be fixed. For example, if a state name is spelled out in one row and the abbreviation is used in another, we need to ensure consistency.

**Check for any inconsistencies in the strings of the `State` column and fix them.**

Don't forget the `df.replace()` method

In [ ]:
# Here is a way in which you can store your string columns in a variable to use later in a for loop
# This code filters out the object type columns and creates a list of each of the column names as an index
data_types = df.dtypes
str_cols = data_types[data_types=='object'].index
str_cols

In [ ]:
# This for loop prints out each column name and then lists each category
# in the column along with the counts of each category
for col in str_cols:
  print(f'- {col}:')
  print(df[col].value_counts(dropna=False))
  print('\n\n')

## Missing values

Missing values are very common and problematic in our data. There is no one right way to handle missing data. A few strategies include:
- Drop
- Impute

### Dropping missing values

If there are not very many missing values and they are missing completely at random, the fastest and easiest solution is to drop the rows with missing values.

Similarly, if most of a column is missing data and the data is missing completely at random, it may be okay to drop the entire column

### Imputing missing values

Imputing means filling in the missing values based on some criterion. There are many methods to do this:
- Simple imputation including mean, median, or mode, or a specific constant value.

### Make sure to explain why you chose the method you did in a text cell.

**Check for missing data. Determine the best way to deal with this.**

In [ ]:
import missingno
# This output shows you were the missing data is in the dataframe.
# This white space represents data that is missing
missingno.matrix(df)

To drop a subset of your data, you may want to use `df2 = df.dropna(subset=['column names'], how = 'all')` to drop a subset of your data.

## Outliers

Outliers are values that are extremely higher or lower than all of the other values in that feature. In general, outliers should not be removed unless you have reason to believe it is an error in the dataset. It is important to investigate outliers, as some models are very sensitive to outliers.

**Check for outliers in the numeric columns using df.describe().**

# Exploratory Data Analysis - Questions to Answer

- For each question, display on the columns required to answer the question.

### Q1. Which 3 Superbowl #'s/years had the largest attendance?

- A1:


### Q2. Which Stadiums hosted the Superbowl with the largest attendance?

- A2:

### Q3: What city has hosted the most number of superbowls? How many?

- A3:

### Q4: Of all of the superbowls hosted in the city from Q3, which SB # had the lowest attendance?

- A4:

### Q5: What is the average point difference between teams, for each City? Which city has the highest average Point Difference?

- A5: