<a href="https://colab.research.google.com/github/mvince33/Coding-Dojo/blob/main/gender_stats.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [11]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [12]:
url = 'https://docs.google.com/spreadsheets/d/e/2PACX-1vThHeaqFcd8yQwrimDo65WddAOk4rK39GfOtowMjObP0inZu7rBLatrf4U7zYzP3z8yf04Vm2-JW7WF/pub?output=csv'
df = pd.read_csv(url)
df.head()

,Country Code,Short Name,Table Name,Long Name,2-alpha code,Currency Unit,Special Notes,Region,Income Group,WB-2 code,...,System of trade,Government Accounting concept,IMF data dissemination standard,Latest population census,Latest household survey,Source of most recent Income and expenditure data,Vital registration complete,Latest agricultural census,Latest industrial data,Latest trade data
0,ABW,Aruba,Aruba,Aruba,AW,Aruban florin,NaN,Latin America & Caribbean,High income,AW,...,General trade system,NaN,Enhanced General Data Dissemination System (e-...,2020 (expected),NaN,NaN,Yes,NaN,NaN,2018.0
1,AFE,Africa Eastern and Southern,Africa Eastern and Southern,Africa Eastern and Southern,ZH,NaN,"26 countries, stretching from the Red Sea in t...",NaN,NaN,ZH,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,AFG,Afghanistan,Afghanistan,Islamic State of Afghanistan,AF,Afghan afghani,Fiscal year end: March 20; reporting period fo...,South Asia,Low income,AF,...,General trade system,Consolidated central government,Enhanced General Data Dissemination System (e-...,1979,"Demographic and Health Survey, 2015","Integrated household survey (IHS), 2016/17",NaN,NaN,NaN,2018.0
3,AFW,Africa Western and Central,Africa Western and Central,Africa Western and Central,ZI,NaN,"22 countries, stretching from the westernmost ...",NaN,NaN,ZI,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,AGO,Angola,Angola,People's Republic of Angola,AO,Angolan kwanza,NaN,Sub-Saharan Africa,Lower middle income,AO,...,General trade system,Budgetary central government,Enhanced General Data Dissemination System (e-...,2014,"Demographic and Health Survey, 2015/16","Integrated household survey (IHS), 2008/09",NaN,NaN,NaN,2018.0

In [13]:
df.shape
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 265 entries, 0 to 264
Data columns (total 30 columns):
 #   Column                                             Non-Null Count  Dtype
---  ------                                             --------------  -----
 0   Country Code                                       265 non-null    object
 1   Short Name                                         265 non-null    object
 2   Table Name                                         265 non-null    object
 3   Long Name                                          265 non-null    object
 4   2-alpha code                                       263 non-null    object
 5   Currency Unit                                      217 non-null    object
 6   Special Notes                                      98 non-null     object
 7   Region                                             217 non-null    object
 8   Income Group                                       216 non-null    object
 9   WB-2 code                                          264 non-null    object
 10  National accounts base year                        209 non-null    object
 11  National accounts reference year                   74 non-null     float64
 12  SNA price valuation                                207 non-null    object
 13  Lending category                                   144 non-null    object
 14  Other groups                                       59 non-null     object
 15  System of National Accounts                        208 non-null    object
 16  Alternative conversion factor                      47 non-null     object
 17  PPP survey year                                    0 non-null      float64
 18  Balance of Payments Manual in use                  199 non-null    object
 19  External debt Reporting status                     123 non-null    object
 20  System of trade                                    172 non-null    object
 21  Government Accounting concept                      158 non-null    object
 22  IMF data dissemination standard                    188 non-null    object
 23  Latest population census                           214 non-null    object
 24  Latest household survey                            154 non-null    object
 25  Source of most recent Income and expenditure data  168 non-null    object
 26  Vital registration complete                        120 non-null    object
 27  Latest agricultural census                         128 non-null    object
 28  Latest industrial data                             147 non-null    float64
 29  Latest trade data                                  191 non-null    float64
dtypes: float64(4), object(26)
memory usage: 62.2+ KB

In [14]:
# Drop PPP Survey year as it is an empty column
df.drop(columns = 'PPP survey year', inplace = True)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 265 entries, 0 to 264
Data columns (total 29 columns):
 #   Column                                             Non-Null Count  Dtype
---  ------                                             --------------  -----
 0   Country Code                                       265 non-null    object
 1   Short Name                                         265 non-null    object
 2   Table Name                                         265 non-null    object
 3   Long Name                                          265 non-null    object
 4   2-alpha code                                       263 non-null    object
 5   Currency Unit                                      217 non-null    object
 6   Special Notes                                      98 non-null     object
 7   Region                                             217 non-null    object
 8   Income Group                                       216 non-null    object
 9   WB-2 code                                          264 non-null    object
 10  National accounts base year                        209 non-null    object
 11  National accounts reference year                   74 non-null     float64
 12  SNA price valuation                                207 non-null    object
 13  Lending category                                   144 non-null    object
 14  Other groups                                       59 non-null     object
 15  System of National Accounts                        208 non-null    object
 16  Alternative conversion factor                      47 non-null     object
 17  Balance of Payments Manual in use                  199 non-null    object
 18  External debt Reporting status                     123 non-null    object
 19  System of trade                                    172 non-null    object
 20  Government Accounting concept                      158 non-null    object
 21  IMF data dissemination standard                    188 non-null    object
 22  Latest population census                           214 non-null    object
 23  Latest household survey                            154 non-null    object
 24  Source of most recent Income and expenditure data  168 non-null    object
 25  Vital registration complete                        120 non-null    object
 26  Latest agricultural census                         128 non-null    object
 27  Latest industrial data                             147 non-null    float64
 28  Latest trade data                                  191 non-null    float64
dtypes: float64(3), object(26)
memory usage: 60.2+ KB

In [18]:
df.drop(columns = ['Table Name', 'Long Name'], inplace = True)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 265 entries, 0 to 264
Data columns (total 27 columns):
 #   Column                                             Non-Null Count  Dtype
---  ------                                             --------------  -----
 0   Country Code                                       265 non-null    object
 1   Short Name                                         265 non-null    object
 2   2-alpha code                                       263 non-null    object
 3   Currency Unit                                      217 non-null    object
 4   Special Notes                                      98 non-null     object
 5   Region                                             217 non-null    object
 6   Income Group                                       216 non-null    object
 7   WB-2 code                                          264 non-null    object
 8   National accounts base year                        209 non-null    object
 9   National accounts reference year                   74 non-null     float64
 10  SNA price valuation                                207 non-null    object
 11  Lending category                                   144 non-null    object
 12  Other groups                                       59 non-null     object
 13  System of National Accounts                        208 non-null    object
 14  Alternative conversion factor                      47 non-null     object
 15  Balance of Payments Manual in use                  199 non-null    object
 16  External debt Reporting status                     123 non-null    object
 17  System of trade                                    172 non-null    object
 18  Government Accounting concept                      158 non-null    object
 19  IMF data dissemination standard                    188 non-null    object
 20  Latest population census                           214 non-null    object
 21  Latest household survey                            154 non-null    object
 22  Source of most recent Income and expenditure data  168 non-null    object
 23  Vital registration complete                        120 non-null    object
 24  Latest agricultural census                         128 non-null    object
 25  Latest industrial data                             147 non-null    float64
 26  Latest trade data                                  191 non-null    float64
dtypes: float64(3), object(24)
memory usage: 56.0+ KB