<a href="https://colab.research.google.com/github/mvince33/Coding-Dojo/blob/main/groupby_exercises.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import numpy as np
import pandas as pd

In [ ]:
df = pd.read_csv('https://raw.githubusercontent.com/mGalarnyk/Tutorial_Data/master/Pandas/CalIt2.data', header=None)

In [ ]:
df.head()

   0         1         2  3
0  7  07/24/05  00:00:00  0
1  9  07/24/05  00:00:00  0
2  7  07/24/05  00:30:00  1
3  9  07/24/05  00:30:00  0
4  7  07/24/05  01:00:00  0

In [ ]:
df.rename(columns={0: 'Flow_ID', 1: 'Date', 2: 'Time', 3: 'Count'}, inplace=True)

In [ ]:
date_filter = df['Date'] == '07/24/05'
id_filter = df['Flow_ID'] == 7
filtered_data = df.loc[date_filter & id_filter, :]
top10 = filtered_data.sort_values('Count', ascending=False).head(10)

In [ ]:
min_val = top10['Count'].min()
mean_val = top10['Count'].apply(lambda x: x - min_val).mean()

In [60]:
# Adding the endswith() method came after looking at the solution.
# I overlooked that part of the exercise.
august_filter = df['Date'].str.startswith('08') & df['Date'].str.endswith('05')
august_data = df.loc[august_filter & id_filter, :]
august_data.groupby('Date')['Count'].max()

Date
08/01/05    18
08/02/05    16
08/03/05    26
08/04/05    40
08/05/05    17
08/06/05     8
08/07/05     3
08/08/05    16
08/09/05    19
08/10/05    25
08/11/05    16
08/12/05    21
08/13/05     5
08/14/05     3
08/15/05    17
08/16/05    24
08/17/05    22
08/18/05    39
08/19/05    23
08/20/05     3
08/21/05     4
08/22/05    23
08/23/05    25
08/24/05    17
08/25/05    24
08/26/05    22
08/27/05     3
08/28/05     7
08/29/05    15
08/30/05    47
08/31/05    19
Name: Count, dtype: int64