<a href="https://colab.research.google.com/github/mvince33/Coding-Dojo/blob/main/loading_and_filtering_data.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Loading and Filtering Data
- Michael Vincent
- 6/28/22

In [6]:
# Imports
from google.colab import drive
import pandas as pd
import numpy as np
path = '/content/drive/MyDrive/Coding Dojo/02 Week 2: Pandas/RailsToTrails_National Count Data_week.xlsx'
bike_df = pd.read_excel(path)
bike_df.head()

,Timeframe,Week of,2019 counts (31 counters),2020 counts (31 counters),2021 Counts,Change 2019-2020,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9
0,Week 1,2020-12-30,167679.0,183546.0,NaN,0.094627,1.094627,NaN,NaN,NaN
1,Week 2,2020-01-06,82340.0,97140.0,NaN,0.179743,117.974253,NaN,NaN,NaN
2,Week 3,2020-01-13,62315.0,75782.0,NaN,0.216112,121.611169,NaN,NaN,NaN
3,Week 4,2020-01-20,75801.0,83809.0,NaN,0.105645,110.564504,NaN,NaN,NaN
4,Week 5,2020-01-27,75841.0,94738.0,NaN,0.249166,124.916602,NaN,NaN,NaN

In [7]:
# Filter the data
date_filter = bike_df['Week of'] >= np.datetime64('2020-08-01')
date_filtered = bike_df[date_filter]
change_filter = bike_df['Change 2019-2020'] > 0.5
change_filtered = bike_df[change_filter]

In [8]:
# Find how many entries correspond with dates after 2020-07-31
len(date_filtered)

22

> The length of the Series date_filtered is 22, so there are 22 entries with dates starting from August 1, 2020.

In [4]:
# Apply both filters to the data
df_filtered = bike_df[date_filter & change_filter]
len(df_filtered)
# We see there are only two entries aftor 2020-07-31 with a change greater than 50%

2

> There are only two entries with a change greater than 50% starting from August 1, 2020.

In [5]:
# Look for a change greater than 100% after 2020-07-31
combined_filter = date_filter & bike_df['Change 2019-2020'] > 1
filtered_bike_df = bike_df[combined_filter]
print(filtered_bike_df)

Empty DataFrame
Columns: [Timeframe, Week of,  2019 counts (31 counters),  2020 counts (31 counters), 2021 Counts, Change 2019-2020, Unnamed: 6, Unnamed: 7, Unnamed: 8, Unnamed: 9]
Index: []

> The data frame is empty, so there are no entries with a change greater than 100% starting from August 1, 2020.