<a href="https://colab.research.google.com/github/mvince33/Coding-Dojo/blob/main/week01/tuples_exercise.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
emptyTuple = ()
print(emptyTuple)
type(emptyTuple)

emptyTuple2 = tuple()
type(emptyTuple2)

z = (3, 7, 4, 2)
print(z)
z2 = 3, 7, 4, 2
print(type(z), type(z2))

tup1 = ('Michael',)
print(tup1)
type(tup1)
tup2 = 'Michael',
print(type(tup2))

print(z[0])
print(z[-1])
print(z[0:2])
print(z[:2])
print(z[1:])
print(z[-4:-1])
print(z[:-1])

a = ('Dean', 'Gene')
b = ('Claude', 'Dave', 'Glenn')
ween = a + b
print(ween)

a, b, c, d, e = ween

print(a, b, c, d, e)

for index, musician in enumerate(ween):
  print(index, musician)

print(ween.index('Dave'))
print(ween.count('Gene'))

()
(3, 7, 4, 2)
<class 'tuple'> <class 'tuple'>
('Michael',)
<class 'tuple'>
3
2
(3, 7)
(3, 7)
(7, 4, 2)
(3, 7, 4)
(3, 7, 4)
('Dean', 'Gene', 'Claude', 'Dave', 'Glenn')
Dean Gene Claude Dave Glenn
0 Dean
1 Gene
2 Claude
3 Dave
4 Glenn
3
1