<a href="https://colab.research.google.com/github/mvince33/Coding-Dojo/blob/main/week05/abalone_preprocessing_exercise.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Abalone Preprocessing Exercise
- Michael Vincent
- 7/18/22

## Imports

In [59]:
# Imports
import numpy as np
import pandas as pd
from google.colab import drive

## Enter the column names

In [60]:
# Make a list of the column names
col_names = ['Sex', 
             'Length', 
             'Diameter', 
             'Height', 
             'Whole weight', 
             'Schucked weight',
             'Viscera weight',
             'Shell weight',
             'Rings']

# This cell was moved before the data loading cell 
# so that the column names could be loaded using 
# the .read_csv() methad as per the suggestion 
# from the assignment feedback

## Load the data

In [61]:
# Import the data
path = '/content/drive/MyDrive/Coding Dojo/05 Week 1: Intro to Machine Learning and Pre-Processing/abalone.data'
df = pd.read_csv(path, names = col_names, header = None)
df.head()

,Sex,Length,Diameter,Height,Whole weight,Schucked weight,Viscera weight,Shell weight,Rings
0,M,0.455,0.365,0.095,0.5140,0.2245,0.1010,0.150,15
1,M,0.350,0.265,0.090,0.2255,0.0995,0.0485,0.070,7
2,F,0.530,0.420,0.135,0.6770,0.2565,0.1415,0.210,9
3,M,0.440,0.365,0.125,0.5160,0.2155,0.1140,0.155,10
4,I,0.330,0.255,0.080,0.2050,0.0895,0.0395,0.055,7

## Check for duplicates and missing values

In [65]:
# This step was initially overlooked and added for resubmit

# Check for duplicates
print('There are', df.duplicated().sum(), 'duplicates in the data set.\n')

# Check for missing values
df.info()
print('\nThere are', df.isna().sum().sum(), 'missing values in the data set.')

There are 0 duplicates in the data set.

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4177 entries, 0 to 4176
Data columns (total 9 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Sex              4177 non-null   object
 1   Length           4177 non-null   float64
 2   Diameter         4177 non-null   float64
 3   Height           4177 non-null   float64
 4   Whole weight     4177 non-null   float64
 5   Schucked weight  4177 non-null   float64
 6   Viscera weight   4177 non-null   float64
 7   Shell weight     4177 non-null   float64
 8   Rings            4177 non-null   int64
dtypes: float64(7), int64(1), object(1)
memory usage: 293.8+ KB

There are 0 missing values in the data set.

## Set the features and target and split the data

In [ ]:
# Get the features and target
X = df.drop(columns = 'Rings')
y = df['Rings']

In [ ]:
# Split the data
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state = 42)

## Setup the preprocessing

In [ ]:
# Create column selectors
from sklearn.compose import make_column_selector
cat_selector = make_column_selector(dtype_include = 'object')
num_selector = make_column_selector(dtype_include = 'number')

In [ ]:
# Construct column transformers
from sklearn.preprocessing import StandardScaler, OneHotEncoder
scaler = StandardScaler()
ohe = OneHotEncoder(handle_unknown = 'ignore')

In [ ]:
# Construct tuples for the transformers
cat_tuple = (ohe, cat_selector)
num_tuple = (scaler, num_selector)

In [ ]:
# Construct the column transformer
from sklearn.compose import make_column_transformer
col_transformer = make_column_transformer(num_tuple, cat_tuple, remainder = 'passthrough')

## Preprocess the data

In [ ]:
# Fit the column transformer to the traning set
col_transformer.fit(X_train)

In [ ]:
# Transform the data
X_train_processed = col_transformer.transform(X_train)
X_test_processed = col_transformer.transform(X_test)

In [ ]:
# Convert the transformed data to DataFrames 
X_train_df = pd.DataFrame(X_train_processed)
X_test_df = pd.DataFrame(X_test_processed)

In [ ]:
# Display the processed DataFrames
display(X_train_df)
display(X_test_df)