<a href="https://colab.research.google.com/github/mvince33/Coding-Dojo/blob/main/standardization.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [19]:
import numpy as np
import pandas as pd
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split

In [20]:
url = 'https://docs.google.com/spreadsheets/d/e/2PACX-1vQ64T8zJ-HDpXMNwvvCaW70p1BtIVmPg9D0JKVSFXp7f6eDdFbB_nT12TwVipUMUtBbAlfS4S5MjCza/pub?output=csv'
df = pd.read_csv(url)
df.head()

   Sold  SqFt   Price
0     1   200  906442
1     0   425  272629
2     1   675  824862
3     1   984  720344
4     0   727  879679

In [21]:
# Set the target
y = df['Sold']
# Set the features
X = df.drop(columns = 'Sold')

In [22]:
# Train, test, split
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state = 42)

In [23]:
# Get descriptive stats on test set. 
X_train.describe().round(2)

         SqFt      Price
count   75.00      75.00
mean   563.59  524949.53
std    285.39  274185.10
min    114.00  109277.00
25%    320.00  272803.50
50%    588.00  503613.00
75%    835.50  786077.50
max    997.00  995878.00

In [24]:
# Instantiate the scalar
scaler = StandardScaler()
scaler.fit(X_train)
X_train.describe()

             SqFt          Price
count   75.000000      75.000000
mean   563.586667  524949.533333
std    285.385472  274185.097591
min    114.000000  109277.000000
25%    320.000000  272803.500000
50%    588.000000  503613.000000
75%    835.500000  786077.500000
max    997.000000  995878.000000

In [25]:
# Scale the training and testing data
train_scaled = scaler.transform(X_train)
test_scaled = scaler.transform(X_test)
train_scaled[:10]

array([[-1.37431725,  1.72912293],
       [ 1.34901239, -0.33899825],
       [ 1.35959527, -0.23730597],
       [ 1.1197165 , -1.01916082],
       [ 0.98919422,  1.07150845],
       [-1.32140281,  0.77913948],
       [ 0.84456143,  0.81269911],
       [ 1.32431898, -0.59663998],
       [-0.92630836, -0.03672662],
       [ 0.63643132, -1.20049296]])

In [30]:
# Transform the training set back to a DataFrame
X_train_scaled = pd.DataFrame(train_scaled, columns = X_train.columns)
X_train_scaled

        SqFt     Price
0  -1.374317  1.729123
1   1.349012 -0.338998
2   1.359595 -0.237306
3   1.119716 -1.019161
4   0.989194  1.071508
..       ...       ...
70  0.290724 -1.441068
71 -0.139647 -0.140328
72 -0.640570 -0.330748
73 -0.601766 -0.385809
74  1.183214  1.054097

[75 rows x 2 columns]

In [31]:
# Get descripctive stats
X_train_scaled.describe().round(2)

        SqFt  Price
count  75.00  75.00
mean   -0.00   0.00
std     1.01   1.01
min    -1.59  -1.53
25%    -0.86  -0.93
50%     0.09  -0.08
75%     0.96   0.96
max     1.53   1.73