<a href="https://colab.research.google.com/github/mvince33/Coding-Dojo/blob/main/types_of_features.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import numpy as np
import pandas as pd

In [2]:
url = 'https://docs.google.com/spreadsheets/d/e/2PACX-1vSZzhI4mZFtYznjjNbNCU2jxos0ZRcEznd1hLBMmGJWdncEEAOx2vqRSmmAcDuG1Q/pub?output=csv'
df = pd.read_csv(url)
df.head()

  Size  Color  Cost Sold
0    S   Blue  5.00    Y
1    M    Red  7.49    Y
2    M  Green  8.00    N
3   XL  Green  4.00    N
4    L    Red  9.99    Y

In [4]:
y = df['Sold']
X = df.drop(columns = 'Sold')

In [13]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state = 42)

In [14]:
sizes = {'S': 0, 'M': 1, 'L': 2, 'XL': 3}
X_train['Size'].replace(sizes, inplace = True)

In [16]:
X_test['Size'].replace(sizes, inplace = True)

In [17]:
X_train

   Size  Color  Cost
0     0   Blue  5.00
8     0  Green  9.00
2     1  Green  8.00
4     2    Red  9.99
3     3  Green  4.00
6     2   Blue  4.32

In [18]:
X_test

   Size Color  Cost
7     3   Red  8.90
1     1   Red  7.49
5     0  Blue  6.45

(9, 3)