<a href="https://colab.research.google.com/github/mvince33/Coding-Dojo/blob/main/week12/sql_alchemy.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# Imports
import numpy as np
import pandas as pd
from sqlalchemy import create_engine

In [2]:
# Load the data
url = 'https://docs.google.com/spreadsheets/d/e/2PACX-1vQx3gMRpWbOuReQgWPAKQpMZtqrlrHwOeTUwkWnh8ANvKBi8ItwCBNk5Zrtged021WwgoczTkaqnvAJ/pub?output=csv'
df = pd.read_csv(url)
df.head()

,DistrictName,EstablishmentCode,EstablishmentName,BRCName,CRCName,SchoolLevel,ManagementName,LocalityHabitation,SubdivisionName,ConstituencyName,...,EstablishedDate,DistrictHQDistance (in Km),CRCDistance (in Km),BACDistance (in Km),IsRecognized,RecognizedBy,ContactPersonName,LowestClass,HighestClass,BoardName
0,East,S0169,BUDANG GOVERNMENT PRIMARY SCHOOL (E),Duga Brc,Central Pendam Government Senior Secondary School,PS,State Govt.,BUDANG,Gangtok,Rhenock,...,28126,58.0,8.0,16.0,Recognized,HRDD,NaN,Class 1,Class 5,NaN
1,East,S0099,CENTRAL PENDAM GOVERNMENT SENIOR SECONDARY SCHOOL,Duga Brc,Central Pendam Government Senior Secondary School,SSS,State Govt.,CENTRAL PENDAM,Gangtok,West Pandam,...,15342,50.0,0.0,6.0,Recognized,HRDD,NaN,Class 1,Class 12,C.B.S.E.
2,East,S0848,"CENTRAL POINT ACADEMY, CENTRAL PENDAM",Duga Brc,Central Pendam Government Senior Secondary School,SS,Private (Unaided),UPPER BHURUNG CENTRAL PENDAM,Gangtok,West Pandam,...,37257.38681,49.0,1.5,6.0,Recognized,"HRDD, GOVT. OF SIKKIM",NaN,Class 1,Class 10,C.B.S.E.
3,East,S0190,CHEURIBOTEY GOVERNMENT JUNIOR HIGH SCHOOL (E),Duga Brc,Central Pendam Government Senior Secondary School,JHS,State Govt.,CHEURIBOTEY,Gangtok,West Pandam,...,28856,60.0,6.0,6.0,Recognized,State Govt.,NaN,Class 1,Class 8,NaN
4,East,S0111,DUGA GOVERNMENT SECONDARY SCHOOL,Duga Brc,Central Pendam Government Senior Secondary School,SS,State Govt.,DUGA,Gangtok,West Pandam,...,1828,52.0,0.0,0.5,Recognized,c.b.s.e.,NaN,Class 1,Class 10,C.B.S.E.

In [3]:
# Create a sqlite engine
engine = create_engine('sqlite:///schools.db', echo = True)
# Create a connection to the engine
conn = engine.connect()

In [4]:
# Add the dataframe as a table
sqlite_table = "school_details"
df.to_sql(sqlite_table, conn, if_exists = 'fail')

2022-09-04 02:39:56,765 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("school_details")

INFO:sqlalchemy.engine.Engine:PRAGMA main.table_info("school_details")

2022-09-04 02:39:56,774 INFO sqlalchemy.engine.Engine [raw sql] ()

INFO:sqlalchemy.engine.Engine:[raw sql] ()

ValueError: ignored

In [5]:
# Write your SQL query in this string
sql = """
SELECT DistrictName
FROM school_details
Limit 3;
"""

# Read the sql query into pandas
pd.read_sql_query(sql, engine)

2022-09-04 02:40:14,694 INFO sqlalchemy.engine.Engine
SELECT DistrictName
FROM school_details
Limit 3;

INFO:sqlalchemy.engine.Engine:
SELECT DistrictName
FROM school_details
Limit 3;

2022-09-04 02:40:14,698 INFO sqlalchemy.engine.Engine [raw sql] ()

INFO:sqlalchemy.engine.Engine:[raw sql] ()

  DistrictName
0         East
1         East
2         East

Code for the SELECT and FROM lesson

In [6]:
# Write your SQL query in this string
sql = """
SELECT SchoolLevel, ManagementName
FROM school_details;
"""

# Read the sql query into pandas
pd.read_sql_query(sql, engine)

2022-09-04 02:40:17,757 INFO sqlalchemy.engine.Engine
SELECT SchoolLevel, ManagementName
FROM school_details;

INFO:sqlalchemy.engine.Engine:
SELECT SchoolLevel, ManagementName
FROM school_details;

2022-09-04 02:40:17,764 INFO sqlalchemy.engine.Engine [raw sql] ()

INFO:sqlalchemy.engine.Engine:[raw sql] ()

     SchoolLevel     ManagementName
0             PS        State Govt.
1            SSS        State Govt.
2             SS  Private (Unaided)
3            JHS        State Govt.
4             SS        State Govt.
...          ...                ...
1244          PS        State Govt.
1245          PS        State Govt.
1246          PS  Private (Unaided)
1247          PS        State Govt.
1248          PS        State Govt.

[1249 rows x 2 columns]

In [7]:
# Write your SQL query in this string
sql = """
SELECT *
FROM school_details
"""

# Read the sql query into pandas
pd.read_sql_query(sql, engine)

2022-09-04 02:40:20,487 INFO sqlalchemy.engine.Engine
SELECT *
FROM school_details

INFO:sqlalchemy.engine.Engine:
SELECT *
FROM school_details

2022-09-04 02:40:20,491 INFO sqlalchemy.engine.Engine [raw sql] ()

INFO:sqlalchemy.engine.Engine:[raw sql] ()

,index,DistrictName,EstablishmentCode,EstablishmentName,BRCName,CRCName,SchoolLevel,ManagementName,LocalityHabitation,SubdivisionName,...,EstablishedDate,DistrictHQDistance (in Km),CRCDistance (in Km),BACDistance (in Km),IsRecognized,RecognizedBy,ContactPersonName,LowestClass,HighestClass,BoardName
0,0,East,S0169,BUDANG GOVERNMENT PRIMARY SCHOOL (E),Duga Brc,Central Pendam Government Senior Secondary School,PS,State Govt.,BUDANG,Gangtok,...,28126,58.0,8.0,16.0,Recognized,HRDD,None,Class 1,Class 5,None
1,1,East,S0099,CENTRAL PENDAM GOVERNMENT SENIOR SECONDARY SCHOOL,Duga Brc,Central Pendam Government Senior Secondary School,SSS,State Govt.,CENTRAL PENDAM,Gangtok,...,15342,50.0,0.0,6.0,Recognized,HRDD,None,Class 1,Class 12,C.B.S.E.
2,2,East,S0848,"CENTRAL POINT ACADEMY, CENTRAL PENDAM",Duga Brc,Central Pendam Government Senior Secondary School,SS,Private (Unaided),UPPER BHURUNG CENTRAL PENDAM,Gangtok,...,37257.38681,49.0,1.5,6.0,Recognized,"HRDD, GOVT. OF SIKKIM",None,Class 1,Class 10,C.B.S.E.
3,3,East,S0190,CHEURIBOTEY GOVERNMENT JUNIOR HIGH SCHOOL (E),Duga Brc,Central Pendam Government Senior Secondary School,JHS,State Govt.,CHEURIBOTEY,Gangtok,...,28856,60.0,6.0,6.0,Recognized,State Govt.,None,Class 1,Class 8,None
4,4,East,S0111,DUGA GOVERNMENT SECONDARY SCHOOL,Duga Brc,Central Pendam Government Senior Secondary School,SS,State Govt.,DUGA,Gangtok,...,1828,52.0,0.0,0.5,Recognized,c.b.s.e.,None,Class 1,Class 10,C.B.S.E.
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1244,1244,West,S0336,MANGSABONG GOVERNMENT PRIMARY SCHOOL,Yuksom Brc,Yuksom Government Secondary School,PS,State Govt.,MANGSABONG BUSTY,Gyalshing,...,29221,45.0,4.0,5.0,Recognized,STATE GOVERNMENT,None,Class 1,Class 5,None
1245,1245,West,S0591,MANGTABONG GOVERNMENT PRIMARY SCHOOL(SSA),Yuksom Brc,Yuksom Government Secondary School,PS,State Govt.,MANGTABONG(YUKSAM),Gyalshing,...,38508,52.0,2.0,5.0,Recognized,STATE GOVERNMENT,None,Class 1,Class 5,C.B.S.E.
1246,1246,West,S1045,"NEW HORIZON ACADEMY, LASSO(TASHIDING)",Yuksom Brc,Yuksom Government Secondary School,PS,Private (Unaided),"LASSO, TASHIDING",Gyalshing,...,38754.66806,0.0,0.0,0.0,Recognized,GOVT. OF SIKKIM,None,Class 1,Class 5,None
1247,1247,West,S0340,TINGTING GAON GOVERNMENT PRIMARY SCHOOL,Yuksom Brc,Yuksom Government Secondary School,PS,State Govt.,TING TING GAON,Gyalshing,...,29587,36.0,3.0,6.0,Recognized,STATE GOVERNMENT,None,Class 1,Class 5,None
1248,1248,West,S0542,TSONG GOVERNMENT PRIMARY SCHOOL,Yuksom Brc,Yuksom Government Secondary School,PS,State Govt.,TSONG,Gyalshing,...,28176,40.0,7.0,8.0,Recognized,State Government,None,Class 1,Class 5,C.B.S.E.

In [8]:
# Write your SQL query in this string
sql = """
SELECT WardName, PostOfficeName
FROM school_details
"""

# Read the sql query into pandas
pd.read_sql_query(sql, engine)

2022-09-04 02:40:23,924 INFO sqlalchemy.engine.Engine
SELECT WardName, PostOfficeName
FROM school_details

INFO:sqlalchemy.engine.Engine:
SELECT WardName, PostOfficeName
FROM school_details

2022-09-04 02:40:23,929 INFO sqlalchemy.engine.Engine [raw sql] ()

INFO:sqlalchemy.engine.Engine:[raw sql] ()

                                        WardName PostOfficeName
0                                         Sajong   Upper Pendam
1                                     Karmithang   Upper Pendam
2                                         Burung   Upper Pendam
3                                    Cheuribotey           Duga
4                                           Duga           Duga
...                                          ...            ...
1244                                  Mangsabong         Yuksom
1245                                      Yoksam         Yuksom
1246  Tashiding Tashiding Chogyal Lhakhang Gumpa         Yuksom
1247                                    Tingting         Yuksom
1248                                      Yoksam         Yuksom

[1249 rows x 2 columns]

In [9]:
# Write your SQL query in this string
sql = """
SELECT `CRCDistance (in Km)`
FROM school_details
"""

# Read the sql query into pandas
pd.read_sql_query(sql, engine)

2022-09-04 02:40:26,548 INFO sqlalchemy.engine.Engine
SELECT `CRCDistance (in Km)`
FROM school_details

INFO:sqlalchemy.engine.Engine:
SELECT `CRCDistance (in Km)`
FROM school_details

2022-09-04 02:40:26,552 INFO sqlalchemy.engine.Engine [raw sql] ()

INFO:sqlalchemy.engine.Engine:[raw sql] ()

      CRCDistance (in Km)
0                     8.0
1                     0.0
2                     1.5
3                     6.0
4                     0.0
...                   ...
1244                  4.0
1245                  2.0
1246                  0.0
1247                  3.0
1248                  7.0

[1249 rows x 1 columns]

Code for the WHERE lesson

In [10]:
# Write your SQL query in this string
sql = """
SELECT EstablishmentName, CRCName, `CRCDistance (in Km)`
FROM school_details
WHERE `CRCDistance (in Km)` > 5;
"""

# Read the sql query into pandas
pd.read_sql_query(sql, engine)

2022-09-04 02:40:29,745 INFO sqlalchemy.engine.Engine
SELECT EstablishmentName, CRCName, `CRCDistance (in Km)`
FROM school_details
WHERE `CRCDistance (in Km)` > 5;

INFO:sqlalchemy.engine.Engine:
SELECT EstablishmentName, CRCName, `CRCDistance (in Km)`
FROM school_details
WHERE `CRCDistance (in Km)` > 5;

2022-09-04 02:40:29,749 INFO sqlalchemy.engine.Engine [raw sql] ()

INFO:sqlalchemy.engine.Engine:[raw sql] ()

,EstablishmentName,CRCName,CRCDistance (in Km)
0,BUDANG GOVERNMENT PRIMARY SCHOOL (E),Central Pendam Government Senior Secondary School,8.0
1,CHEURIBOTEY GOVERNMENT JUNIOR HIGH SCHOOL (E),Central Pendam Government Senior Secondary School,6.0
2,NEW GARDEN BOARDING SCHOOL (SAJONG),Central Pendam Government Senior Secondary School,7.0
3,PACHAK GOVERNMENT SECONDARY SCHOOL,Central Pendam Government Senior Secondary School,6.0
4,"PADMA KUMARI PUBLIC SCHOOL, DUGA",Central Pendam Government Senior Secondary School,200.0
...,...,...,...
352,NAMBUMANGTHANG GOVERNMENT PRIMARY SCHOOL,Tashiding Government Senior Secondary School,13.0
353,NERDHANG GOVERNMENT PRIMARY SCHOOL,Tashiding Government Senior Secondary School,35.0
354,RANGIT GOVERNMENT PRIMARY SCHOOL,Tashiding Government Senior Secondary School,29.0
355,THANGCHUNG GOVERNMENT PRIMARY SCHOOL,Tashiding Government Senior Secondary School,6.0
356,TSONG GOVERNMENT PRIMARY SCHOOL,Yuksom Government Secondary School,7.0

In [11]:
# Write your SQL query in this string
sql = """
SELECT EstablishmentName
FROM school_details
WHERE SchoolLevel = 'PS';
"""

# Read the sql query into pandas
pd.read_sql_query(sql, engine)

2022-09-04 02:40:32,568 INFO sqlalchemy.engine.Engine
SELECT EstablishmentName
FROM school_details
WHERE SchoolLevel = 'PS';

INFO:sqlalchemy.engine.Engine:
SELECT EstablishmentName
FROM school_details
WHERE SchoolLevel = 'PS';

2022-09-04 02:40:32,575 INFO sqlalchemy.engine.Engine [raw sql] ()

INFO:sqlalchemy.engine.Engine:[raw sql] ()

                             EstablishmentName
0         BUDANG GOVERNMENT PRIMARY SCHOOL (E)
1             EASWARAMMA SAI GURUKOOL ACCADEMY
2          ETERNAL ENGLISH SCHOOL, WEST PENDAM
3         KHANI GOAN GOVERNMENT PRIMARY SCHOOL
4          NEW GARDEN BOARDING SCHOOL (SAJONG)
..                                         ...
630       MANGSABONG GOVERNMENT PRIMARY SCHOOL
631  MANGTABONG GOVERNMENT PRIMARY SCHOOL(SSA)
632      NEW HORIZON ACADEMY, LASSO(TASHIDING)
633    TINGTING GAON GOVERNMENT PRIMARY SCHOOL
634            TSONG GOVERNMENT PRIMARY SCHOOL

[635 rows x 1 columns]

Code for Wildcards (%) and LIKE lesson

In [14]:
# Write your SQL query in this string
sql = """
SELECT EstablishmentName, PostOfficeName
FROM school_details
WHERE EstablishmentName LIKE 'New%'
"""

# Read the sql query into pandas
pd.read_sql_query(sql, engine)

2022-09-04 02:40:55,025 INFO sqlalchemy.engine.Engine
SELECT EstablishmentName, PostOfficeName
FROM school_details
WHERE EstablishmentName LIKE 'New%'

INFO:sqlalchemy.engine.Engine:
SELECT EstablishmentName, PostOfficeName
FROM school_details
WHERE EstablishmentName LIKE 'New%'

2022-09-04 02:40:55,028 INFO sqlalchemy.engine.Engine [raw sql] ()

INFO:sqlalchemy.engine.Engine:[raw sql] ()

                            EstablishmentName PostOfficeName
0         NEW GARDEN BOARDING SCHOOL (SAJONG)   Upper Pendam
1                         NEW HORIZON ACADEMY         Rongpo
2                NEW VISION ACADEMY, MAJHITAR       Majhitar
3           NEW VISION ACADEMY, CHOTA SINGTAM  Assam Lingzey
4         NEW GARDEN BOARDING SCHOOL, SINGTAM        Singtam
5                 NEW BUDS ACADEMY, JORETHANG     Naya Bazar
6              NEW LIGHT ACADEMY, ASSANGTHANG    Assangthang
7                    NEW LIGHT ACADEMY NAMCHI         Namchi
8                 NEW STEPS ACADEMY, NAMTHANG       Namthang
9   NEW RAYS ACADEMY DEYTHANG BUSTY S. SIKKIM       Ravangla
10                    NEW HOPE ACADEMY, SIKIP            Vok
11     NEW LIGHT ENGLISH SCHOOL, MELLI PAYONG   Melli Bazaar
12                 NEW WISDOM ACADEMY, DENTAM         Dentam
13        NEW TULIPS KINDER GARTEN, GYALSHING        Pelling
14      NEW HORIZON ACADEMY, LASSO(TASHIDING)         Yuksom

In [15]:
# Write your SQL query in this string
sql = """
SELECT EstablishmentName
FROM school_details
WHERE EstablishmentName LIKE '%academy%';
"""

# Read the sql query into pandas
pd.read_sql_query(sql, engine)

2022-09-04 02:41:50,173 INFO sqlalchemy.engine.Engine
SELECT EstablishmentName
FROM school_details
WHERE EstablishmentName LIKE '%academy%';

INFO:sqlalchemy.engine.Engine:
SELECT EstablishmentName
FROM school_details
WHERE EstablishmentName LIKE '%academy%';

2022-09-04 02:41:50,182 INFO sqlalchemy.engine.Engine [raw sql] ()

INFO:sqlalchemy.engine.Engine:[raw sql] ()

                             EstablishmentName
0        CENTRAL POINT ACADEMY, CENTRAL PENDAM
1                        SUNRISE ACADEMY, DUGA
2                          NEW HORIZON ACADEMY
3                 NEW VISION ACADEMY, MAJHITAR
4            DE. NOBILE ACADEMY, ASSAM LINGZEY
..                                         ...
210       HIMALAYAN RADIANT ACADEMY, TASHIDING
211                  MARIGOLD ACADEMY, GANGYAP
212  MARIGOLD ACADEMY, POKHARI DARA, TASHIDING
213                LIFE VISION ACADEMY, YUKSAM
214      NEW HORIZON ACADEMY, LASSO(TASHIDING)

[215 rows x 1 columns]

Code for Advanced WHERE lesson

In [17]:
# Write your SQL query in this string
sql = """
SELECT EstablishmentName
FROM school_details
WHERE EstablishmentName LIKE 'new%' AND EstablishmentName LIKE '%academy%';
"""

# Read the sql query into pandas
pd.read_sql_query(sql, engine)

2022-09-04 02:53:50,941 INFO sqlalchemy.engine.Engine
SELECT EstablishmentName
FROM school_details
WHERE EstablishmentName LIKE 'new%' AND EstablishmentName LIKE '%academy%';

INFO:sqlalchemy.engine.Engine:
SELECT EstablishmentName
FROM school_details
WHERE EstablishmentName LIKE 'new%' AND EstablishmentName LIKE '%academy%';

2022-09-04 02:53:50,946 INFO sqlalchemy.engine.Engine [raw sql] ()

INFO:sqlalchemy.engine.Engine:[raw sql] ()

                            EstablishmentName
0                         NEW HORIZON ACADEMY
1                NEW VISION ACADEMY, MAJHITAR
2           NEW VISION ACADEMY, CHOTA SINGTAM
3                 NEW BUDS ACADEMY, JORETHANG
4              NEW LIGHT ACADEMY, ASSANGTHANG
5                    NEW LIGHT ACADEMY NAMCHI
6                 NEW STEPS ACADEMY, NAMTHANG
7   NEW RAYS ACADEMY DEYTHANG BUSTY S. SIKKIM
8                     NEW HOPE ACADEMY, SIKIP
9                  NEW WISDOM ACADEMY, DENTAM
10      NEW HORIZON ACADEMY, LASSO(TASHIDING)

In [19]:
# Write your SQL query in this string
sql = """
SELECT EstablishmentName
FROM school_details
WHERE EstablishmentName LIKE 'new%' OR EstablishmentName LIKE '%academy%';
"""

# Read the sql query into pandas
pd.read_sql_query(sql, engine)

2022-09-04 02:54:01,590 INFO sqlalchemy.engine.Engine
SELECT EstablishmentName
FROM school_details
WHERE EstablishmentName LIKE 'new%' OR EstablishmentName LIKE '%academy%';

INFO:sqlalchemy.engine.Engine:
SELECT EstablishmentName
FROM school_details
WHERE EstablishmentName LIKE 'new%' OR EstablishmentName LIKE '%academy%';

2022-09-04 02:54:01,601 INFO sqlalchemy.engine.Engine [raw sql] ()

INFO:sqlalchemy.engine.Engine:[raw sql] ()

                             EstablishmentName
0        CENTRAL POINT ACADEMY, CENTRAL PENDAM
1          NEW GARDEN BOARDING SCHOOL (SAJONG)
2                        SUNRISE ACADEMY, DUGA
3                          NEW HORIZON ACADEMY
4                 NEW VISION ACADEMY, MAJHITAR
..                                         ...
214       HIMALAYAN RADIANT ACADEMY, TASHIDING
215                  MARIGOLD ACADEMY, GANGYAP
216  MARIGOLD ACADEMY, POKHARI DARA, TASHIDING
217                LIFE VISION ACADEMY, YUKSAM
218      NEW HORIZON ACADEMY, LASSO(TASHIDING)

[219 rows x 1 columns]

In [20]:
# Write your SQL query in this string
sql = """
SELECT EstablishmentName
FROM school_details
WHERE EstablishmentName LIKE 'new%' AND `CRCDistance (in Km)`  > 5;
"""

# Read the sql query into pandas
pd.read_sql_query(sql, engine)

2022-09-04 02:54:50,331 INFO sqlalchemy.engine.Engine
SELECT EstablishmentName
FROM school_details
WHERE EstablishmentName LIKE 'new%' AND `CRCDistance (in Km)`  > 5;

INFO:sqlalchemy.engine.Engine:
SELECT EstablishmentName
FROM school_details
WHERE EstablishmentName LIKE 'new%' AND `CRCDistance (in Km)`  > 5;

2022-09-04 02:54:50,336 INFO sqlalchemy.engine.Engine [raw sql] ()

INFO:sqlalchemy.engine.Engine:[raw sql] ()

                           EstablishmentName
0        NEW GARDEN BOARDING SCHOOL (SAJONG)
1               NEW VISION ACADEMY, MAJHITAR
2          NEW VISION ACADEMY, CHOTA SINGTAM
3  NEW RAYS ACADEMY DEYTHANG BUSTY S. SIKKIM
4                    NEW HOPE ACADEMY, SIKIP

In [24]:
# Write your SQL query in this string
sql = """
SELECT EstablishmentName, `CRCDistance (in Km)`
FROM school_details
WHERE EstablishmentName LIKE 'new%' AND EstablishmentName LIKE '%academy%' AND
`CRCDistance (in Km)` < 5;
"""

# Read the sql query into pandas
pd.read_sql_query(sql, engine)

2022-09-04 02:56:33,592 INFO sqlalchemy.engine.Engine
SELECT EstablishmentName, `CRCDistance (in Km)`
FROM school_details
WHERE EstablishmentName LIKE 'new%' AND EstablishmentName LIKE '%academy%' AND
`CRCDistance (in Km)` < 5;

INFO:sqlalchemy.engine.Engine:
SELECT EstablishmentName, `CRCDistance (in Km)`
FROM school_details
WHERE EstablishmentName LIKE 'new%' AND EstablishmentName LIKE '%academy%' AND
`CRCDistance (in Km)` < 5;

2022-09-04 02:56:33,599 INFO sqlalchemy.engine.Engine [raw sql] ()

INFO:sqlalchemy.engine.Engine:[raw sql] ()

                       EstablishmentName  CRCDistance (in Km)
0                    NEW HORIZON ACADEMY                  2.0
1            NEW BUDS ACADEMY, JORETHANG                  0.5
2               NEW LIGHT ACADEMY NAMCHI                  0.0
3            NEW STEPS ACADEMY, NAMTHANG                  0.0
4             NEW WISDOM ACADEMY, DENTAM                  0.0
5  NEW HORIZON ACADEMY, LASSO(TASHIDING)                  0.0

Code for ORDER BY and LIMIT

In [28]:
# Write your SQL query in this string
sql = """
SELECT EstablishmentName, `CRCDistance (in Km)`, CRCName
FROM school_details
ORDER BY `CRCDistance (in Km)` DESC
"""

# Read the sql query into pandas
pd.read_sql_query(sql, engine)

2022-09-04 03:10:54,380 INFO sqlalchemy.engine.Engine
SELECT EstablishmentName, `CRCDistance (in Km)`, CRCName
FROM school_details
ORDER BY `CRCDistance (in Km)` DESC

INFO:sqlalchemy.engine.Engine:
SELECT EstablishmentName, `CRCDistance (in Km)`, CRCName
FROM school_details
ORDER BY `CRCDistance (in Km)` DESC

2022-09-04 03:10:54,386 INFO sqlalchemy.engine.Engine [raw sql] ()

INFO:sqlalchemy.engine.Engine:[raw sql] ()

,EstablishmentName,CRCDistance (in Km),CRCName
0,"MT. PANDIM ACADEMY, KEWZING",300.0,Kewzing Government Senior Secondary School
1,"PADMA KUMARI PUBLIC SCHOOL, DUGA",200.0,Central Pendam Government Senior Secondary School
2,"PLAY AND LEARN PRIMARY SCHOOL, MANGAN",200.0,Mangan Government Senior Secondary School
3,"SARASWATI VIDYALAYA, GYALSHING",120.0,Gyalshing senior secondary school
4,CHUJACHEN GOVERNMENT SENIOR SECONDARY SCHOOL,76.0,Chujachen Government Senior Secondary School
...,...,...,...
1244,"HIMALAYAN BOARDING SCHOOL, YUKSAM",0.0,Yuksom Government Secondary School
1245,"NEW HORIZON ACADEMY, LASSO(TASHIDING)",0.0,Yuksom Government Secondary School
1246,MANJUSRI PUBLIC SCHOOL,NaN,Tashi Namgyal Government Senior Secondary School
1247,DEEP JYOTI ACCADEMY ROLEP,NaN,Chujachen Government Senior Secondary School
1248,UNIVERSAL ACADEMY,NaN,Ben Government Secondary School

In [31]:
# Write your SQL query in this string
sql = """
SELECT EstablishmentName
FROM school_details
WHERE EstablishmentName LIKE '%government%'
LIMIT 10;
"""

# Read the sql query into pandas
pd.read_sql_query(sql, engine)

2022-09-04 03:12:03,040 INFO sqlalchemy.engine.Engine
SELECT EstablishmentName
FROM school_details
WHERE EstablishmentName LIKE '%government%'
LIMIT 10;

INFO:sqlalchemy.engine.Engine:
SELECT EstablishmentName
FROM school_details
WHERE EstablishmentName LIKE '%government%'
LIMIT 10;

2022-09-04 03:12:03,046 INFO sqlalchemy.engine.Engine [raw sql] ()

INFO:sqlalchemy.engine.Engine:[raw sql] ()

                                   EstablishmentName
0               BUDANG GOVERNMENT PRIMARY SCHOOL (E)
1  CENTRAL PENDAM GOVERNMENT SENIOR SECONDARY SCHOOL
2      CHEURIBOTEY GOVERNMENT JUNIOR HIGH SCHOOL (E)
3                   DUGA GOVERNMENT SECONDARY SCHOOL
4               KHANI GOAN GOVERNMENT PRIMARY SCHOOL
5               OKHARBOTEY GOVERNMENT PRIMARY SCHOOL
6                 PACHAK GOVERNMENT SECONDARY SCHOOL
7               SAJONG GOVERNMENT JUNIOR HIGH SCHOOL
8              SAKHU KHANI GOVERNMENT PRIMARY SCHOOL
9         SAMSING SUNTALEY GOVERNMENT PRIMARY SCHOOL

In [34]:
# Write your SQL query in this string
sql = """
SELECT EstablishmentName, CRCName
FROM school_details
ORDER BY CRCName, EstablishmentName
LIMIT 20;
"""

# Read the sql query into pandas
pd.read_sql_query(sql, engine)

2022-09-04 03:13:51,532 INFO sqlalchemy.engine.Engine
SELECT EstablishmentName, CRCName
FROM school_details
ORDER BY CRCName, EstablishmentName
LIMIT 20;

INFO:sqlalchemy.engine.Engine:
SELECT EstablishmentName, CRCName
FROM school_details
ORDER BY CRCName, EstablishmentName
LIMIT 20;

2022-09-04 03:13:51,541 INFO sqlalchemy.engine.Engine [raw sql] ()

INFO:sqlalchemy.engine.Engine:[raw sql] ()

,EstablishmentName,CRCName
0,AHO-KISHAN GOVERNMENT SECONDARY SCHOOL,Aho-Shanti Government Secondary School
1,AHO-SHANTI GOVERNMENT SECONDARY SCHOOL,Aho-Shanti Government Secondary School
2,AHO-YANGTAM GOVERNMENT PRIMARY SCHOOL,Aho-Shanti Government Secondary School
3,"BAPTIST ENGLISH SCHOOL, NIMTAR",Aho-Shanti Government Secondary School
4,BASILAKHA GOVERNMENT PRIMARY SCHOOL,Aho-Shanti Government Secondary School
5,"LITTLE ANGEL ENGLISH SCHOOL, UPPER AHO",Aho-Shanti Government Secondary School
6,"LITTLE ANGEL PRIMARY SCHOOL, KADAMTAM",Aho-Shanti Government Secondary School
7,LOWER KADAMTAM GOVERNMENT PRIMARY SCHOOL,Aho-Shanti Government Secondary School
8,NAMCHEYBONG GOVERNMENT SECONDARY SCHOOL,Aho-Shanti Government Secondary School
9,"NIM VALLEY , NIMTAR",Aho-Shanti Government Secondary School
10,NIMTAR GOVERNMENT JUNIOR HIGH SCHOOL,Aho-Shanti Government Secondary School
11,"SARASWATI SISHU VIDYALAYA, AHO-BUSTY",Aho-Shanti Government Secondary School
12,"ST. JOHNS ENGLISH MEDIUM, BASILAKHA",Aho-Shanti Government Secondary School
13,UPPER KADAMTAM GOVERNMENT PRIMARY SCHOOL,Aho-Shanti Government Secondary School
14,ASSAM LINGZEY GOVERNMENT SENIOR SECONDARY SCHOOL,Assam Lingzey Government Senior Secondary School
15,DARING LINGZEY GOVERNMENT PRIMARY SCHOOL,Assam Lingzey Government Senior Secondary School
16,"DE. NOBILE ACADEMY, ASSAM LINGZEY",Assam Lingzey Government Senior Secondary School
17,GAUCHARAN GOVERNMENT JUNIOR HIGH SCHOOL,Assam Lingzey Government Senior Secondary School
18,"LITTLE ANGEL ENGLISH SCHOOL, NANDOK",Assam Lingzey Government Senior Secondary School
19,LOWER NANDOK GOVERNMENT JUNIOR HIGH SCHOOL,Assam Lingzey Government Senior Secondary School