<a href="https://colab.research.google.com/github/mvince33/Coding-Dojo/blob/main/week6/first_model_practice.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [9]:
# Imports
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split

In [3]:
# Load the data
url = 'https://docs.google.com/spreadsheets/d/e/2PACX-1vSS6a6R8L2_w9VF1c7KC47LEHwc0rjLSP9AiSsj0OsfW74_mBortNik4AokUkQceUblTiiQyMFmukSo/pub?output=csv'
df = pd.read_csv(url)
df.head()

   age     sex     bmi  children smoker     region      charges
0   19  female  27.900         0    yes  southwest  16884.92400
1   18    male  33.770         1     no  southeast   1725.55230
2   28    male  33.000         3     no  southeast   4449.46200
3   33    male  22.705         0     no  northwest  21984.47061
4   32    male  28.880         0     no  northwest   3866.85520

In [10]:
# Check for duplicates and missing values
df.duplicated().sum()

# Remove the duplicate
df.drop_duplicates(inplace = True)

# Check for missing values
df.isna().sum().sum()

# List the columns
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1337 entries, 0 to 1337
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   age       1337 non-null   int64
 1   sex       1337 non-null   object
 2   bmi       1337 non-null   float64
 3   children  1337 non-null   int64
 4   smoker    1337 non-null   object
 5   region    1337 non-null   object
 6   charges   1337 non-null   float64
dtypes: float64(2), int64(2), object(3)
memory usage: 83.6+ KB

In [12]:
# Set the features and target
y = df['charges']
X = df.drop(columns = 'charges')

# Split the data
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state = 42)