<a href="https://colab.research.google.com/github/mvince33/Coding-Dojo/blob/main/titanic.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Pandas Exercises on the Titanic Dataset
- Michael Vincent
- 6/28/22

In [1]:
# Imports
from google.colab import drive
import numpy as np
import pandas as pd

In [9]:
# Load the data
path = '/content/drive/MyDrive/Coding Dojo/02 Week 2: Pandas/titanic.csv'
df = pd.read_csv(path)
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [4]:
# Find the percent survival rate
percent_survived = df['Survived'].mean()
print(f"{int((percent_survived * 100).round())}% of the passengers on the titanic survived.")

38% of the passengers on the titanic survived.

In [5]:
# Find the number of people who survived by gender
survived_filter = df['Survived'] == 1
survived_df = df[survived_filter]
survived_female = survived_df['Sex'].value_counts()[0]
survived_male = survived_df['Sex'].value_counts()[1]

print(f"There were {survived_female} women that survived the titanic, and {survived_male} men that survived the titanic.")

There were 233 women that survived the titanic, and 109 men that survived the titanic.

In [6]:
# Find the percentage of survivors for those that paid less than $10 in fare.
fare_filter = df['Fare'] < 10
fare_df = df[fare_filter]
ps_ten_dollar_fare = fare_df['Survived'].value_counts(normalize=True)[1]
print(f'The survival percentage for those paying less than $10 in fare was {int((ps_ten_dollar_fare * 100).round())}%')

The survival percentage for those paying less than $10 in fare was 20%

In [7]:
# Find the average age of those that didn't survive
# Age has empty values so we remove them.
age_filter = ~df['Age'].isna()
filtered_age_df = df[age_filter]
avg_ages = filtered_age_df.groupby('Survived')['Age'].mean()
print(f"The average age of those that survived is {int(avg_ages[1].round())}.")
print(f"The average age of those that did not survive is {int(avg_ages[0].round())}")

The average age of those that survived is 28.
The average age of those that did not survive is 31

In [8]:
# Find the average age of the survivors grouped by sex.
avg_survivor_ages = filtered_age_df.groupby(['Survived', 'Sex'])['Age'].mean()
avg_fem_not_survive = avg_survivor_ages[0][0].round(1)
avg_male_not_survive = avg_survivor_ages[0][1].round(1)
avg_fem_survive = avg_survivor_ages[1][0].round(1)
avg_male_survive = avg_survivor_ages[1][1].round(1)

print(f"Amonng the surivivors, the average age of the females was {avg_fem_survive}, and the average age of the males was {avg_male_survive}. ")
print(f"Among those that didn't survive, the average age of the females was {avg_fem_not_survive}, and the average age of the males was {avg_male_not_survive}.")

Amonng the surivivors, the average age of the females was 28.8, and the average age of the males was 27.3.
Among those that didn't survive, the average age of the females was 25.0, and the average age of the males was 31.6.