<a href="https://colab.research.google.com/github/mvince33/Coding-Dojo/blob/main/week10/feature_engineering_overloaded_operators.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# Imports
import numpy as np
import pandas as pd

In [12]:
# Load the data
url = 'https://docs.google.com/spreadsheets/d/e/2PACX-1vRgz_qNTvzftHBrdHkhsVmx29-rfV0Md3C3GnSODrP83rMKSlTjkYjbJ6Y6BY1CuUpU10j-a7BdEwmi/pub?output=csv'
df = pd.read_csv(url)
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [13]:
# Make a new feature for the total number
# of family members on board.
df['TotalFamily'] = df['Parch'] + df['SibSp']
# Remove the Parch and SibSp features
df.drop(columns = ['Parch', 'SibSp'], inplace = True)
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,Ticket,Fare,Cabin,Embarked,TotalFamily
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,A/5 21171,7.2500,NaN,S,1
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,PC 17599,71.2833,C85,C,1
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,STON/O2. 3101282,7.9250,NaN,S,0
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,113803,53.1000,C123,S,1
4,5,0,3,"Allen, Mr. William Henry",male,35.0,373450,8.0500,NaN,S,0

In [17]:
# Concatenate gender and age rounded to the nearest 10
df['GenderAge'] = df['Sex'] + df['Age'].round(-1).astype('string')
# Drop the Sex and Age columns
df.drop(columns = ['Sex', 'Age'], inplace = True)
df.head()

,PassengerId,Survived,Pclass,Name,Ticket,Fare,Cabin,Embarked,TotalFamily,GenderAge
0,1,0,3,"Braund, Mr. Owen Harris",A/5 21171,7.2500,NaN,S,1,male20.0
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",PC 17599,71.2833,C85,C,1,female40.0
2,3,1,3,"Heikkinen, Miss. Laina",STON/O2. 3101282,7.9250,NaN,S,0,female30.0
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",113803,53.1000,C123,S,1,female40.0
4,5,0,3,"Allen, Mr. William Henry",373450,8.0500,NaN,S,0,male40.0

In [20]:
# Create a new feature that is the product of 
# the fare and the square of Pclass
df['NormedFare'] = df['Fare'] * df['Pclass'] ** 2
# Remove the columns Fare and Pclass
df.drop(columns = ['Fare', 'Pclass'], inplace = True)
df.head()

,PassengerId,Survived,Name,Ticket,Cabin,Embarked,TotalFamily,GenderAge,NormedFare
0,1,0,"Braund, Mr. Owen Harris",A/5 21171,NaN,S,1,male20.0,65.2500
1,2,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",PC 17599,C85,C,1,female40.0,71.2833
2,3,1,"Heikkinen, Miss. Laina",STON/O2. 3101282,NaN,S,0,female30.0,71.3250
3,4,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",113803,C123,S,1,female40.0,53.1000
4,5,0,"Allen, Mr. William Henry",373450,NaN,S,0,male40.0,72.4500