<a href="https://colab.research.google.com/github/mvince33/Coding-Dojo/blob/main/project2/project2_part2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Project 2 - Part 2
- Michael Vincent
- 8/8/22

## Imports

In [20]:
# Imports
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

## Load the data

In [21]:
# Load the data
url = 'https://docs.google.com/spreadsheets/d/e/2PACX-1vSu_3xbzvwqg6MpBKKDB3u8YHK31h6CTK5z1MClZorpRvHz4gTYJdv3IrrdSzwBA3gHuxlY7hsShEpZ/pub?output=csv'
df = pd.read_csv(url)
df.head()

,class,cap-diameter,cap-shape,cap-surface,cap-color,does-bruise-or-bleed,gill-attachment,gill-spacing,gill-color,stem-height,...,stem-root,stem-surface,stem-color,veil-type,veil-color,has-ring,ring-type,spore-print-color,habitat,season
0,p,15.26,x,g,o,f,e,NaN,w,16.95,...,s,y,w,u,w,t,g,NaN,d,w
1,p,16.60,x,g,o,f,e,NaN,w,17.99,...,s,y,w,u,w,t,g,NaN,d,u
2,p,14.07,x,g,o,f,e,NaN,w,17.80,...,s,y,w,u,w,t,g,NaN,d,w
3,p,14.17,f,h,e,f,e,NaN,w,15.77,...,s,y,w,u,w,t,p,NaN,d,w
4,p,14.64,x,h,o,f,e,NaN,w,16.53,...,s,y,w,u,w,t,p,NaN,d,w

## Clean the data

In [22]:
# Look for duplicates
print('Duplicates:', df.duplicated().sum())

# Remove the duplicates
df.drop_duplicates(inplace = True)

# Make sure the duplicate values were dropped
print('Duplicates:', df.duplicated().sum())

Duplicates: 146
Duplicates: 0

In [23]:
# Check for missing values
print('Missing Values:', df.isna().sum().sum())
print('Percent Missing values', round(df.isna().sum().sum() / df.shape[0], 2))
df.shape

Missing Values: 307019
Percent Missing values 5.04

(60923, 21)

In [24]:
# Check for inconsistent labels
cat_cols = df.select_dtypes(include = 'object')
for col in cat_cols:
  print('Column:', col)
  print(df[col].value_counts())
  print()

Column: class
p    33742
e    27181
Name: class, dtype: int64

Column: cap-shape
x    26932
f    13404
s     7164
b     5694
o     3316
p     2598
c     1815
Name: cap-shape, dtype: int64

Column: cap-surface
t    8184
s    7580
y    6341
h    4974
g    4722
d    4432
e    2584
k    2303
i    2225
w    2150
l    1308
Name: cap-surface, dtype: int64

Column: cap-color
n    24205
y     8541
w     7649
g     4312
e     4035
o     3653
r     1779
u     1709
p     1703
k     1279
b     1230
l      828
Name: cap-color, dtype: int64

Column: does-bruise-or-bleed
f    50333
t    10590
Name: does-bruise-or-bleed, dtype: int64

Column: gill-attachment
a    12697
d    10247
x     7413
p     6001
e     5648
s     5648
f     3414
Name: gill-attachment, dtype: int64

Column: gill-spacing
c    24682
d     7765
f     3414
Name: gill-spacing, dtype: int64

Column: gill-color
w    18492
n     9645
y     9545
p     5983
g     4118
f     3414
o     2909
k     2375
r     1399
e     1066
u     1023
b      954
Name: gill-color, dtype: int64

Column: stem-root
s    3177
b    3177
r    1412
f     915
c     706
Name: stem-root, dtype: int64

Column: stem-surface
s    6025
y    4940
i    4396
t    2644
g    1765
k    1581
f     915
h     535
Name: stem-surface, dtype: int64

Column: stem-color
w    22926
n    18063
y     7864
g     2626
o     2187
e     2049
u     1490
p     1025
f      915
k      837
r      542
l      226
b      173
Name: stem-color, dtype: int64

Column: veil-type
u    3177
Name: veil-type, dtype: int64

Column: veil-color
w    5474
y     527
n     525
u     353
k     353
e     181
Name: veil-color, dtype: int64

Column: has-ring
f    45756
t    15167
Name: has-ring, dtype: int64

Column: ring-type
f    48215
e     2435
z     2118
l     1427
r     1399
p     1265
g     1240
m      353
Name: ring-type, dtype: int64

Column: spore-print-color
k    2118
p    1259
w    1212
n    1031
g     353
u     182
r     171
Name: spore-print-color, dtype: int64

Column: habitat
d    44063
g     7943
l     3168
m     2920
h     2001
p      360
w      353
u      115
Name: habitat, dtype: int64

Column: season
a    30141
u    22850
w     5233
s     2699
Name: season, dtype: int64