<a href="https://colab.research.google.com/github/mvince33/Coding-Dojo/blob/main/week07/classification_trees_in_python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# Imports
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.tree import DecisionTreeClassifier

In [3]:
# Load the data
url = 'https://docs.google.com/spreadsheets/d/e/2PACX-1vSlLd8uqByaNXwpUoQwPZQrNiw9sihCuw3GzX9_6C_Ptod-kGVFh1s0qR_7NSI_Enmx_WtPUOqd-PWV/pub?output=csv'
df = pd.read_csv(url)
df.head()

   SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0            5.1           3.5            1.4           0.2  Iris-setosa
1            4.9           3.0            1.4           0.2  Iris-setosa
2            4.7           3.2            1.3           0.2  Iris-setosa
3            4.6           3.1            1.5           0.2  Iris-setosa
4            5.0           3.6            1.4           0.2  Iris-setosa

In [11]:
# Explore the data
print('Duplicates:', df.duplicated().sum(), '\nMissing Values:', df.isna().sum().sum())

# Drop the duplictas
df.drop_duplicates(inplace = True)

# Confirm the drops
print('Duplicates:', df.duplicated().sum())

# Check the balance of the data
df['Species'].value_counts(normalize = True)

Duplicates: 0
Missing Values: 0
Duplicates: 0

Iris-versicolor    0.340136
Iris-virginica     0.333333
Iris-setosa        0.326531
Name: Species, dtype: float64

In [12]:
# Nominal encode the class names
df['Species'] = df['Species'].replace({'Iris-setosa': 0, 
                                       'Iris-virginica': 1, 
                                       'Iris-versicolor': 2})

In [13]:
# Set the features and target
X = df.drop(columns = 'Species')
y = df['Species']

In [14]:
# Split the data
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state = 42)

In [17]:
# Instantiate the model
dec_tree = DecisionTreeClassifier(max_depth = 2, random_state = 42)

# Get the hyperparameters
dec_tree.get_params()

{'ccp_alpha': 0.0,
 'class_weight': None,
 'criterion': 'gini',
 'max_depth': 2,
 'max_features': None,
 'max_leaf_nodes': None,
 'min_impurity_decrease': 0.0,
 'min_samples_leaf': 1,
 'min_samples_split': 2,
 'min_weight_fraction_leaf': 0.0,
 'random_state': 42,
 'splitter': 'best'}

In [19]:
# Train the model
dec_tree.fit(X_train, y_train)

DecisionTreeClassifier(max_depth=2, random_state=42)

In [20]:
# Make predicitons with the model on the test set
predicitons = dec_tree.predict(X_test)

In [22]:
# Evaluate the mode
print('Test R2:', dec_tree.score(X_test, y_test), '\nTrain R2:', dec_tree.score(X_train, y_train))

Test R2: 0.8648648648648649
Train R2: 0.9727272727272728