<a href="https://colab.research.google.com/github/mvince33/Coding-Dojo/blob/main/week09/6_20_Challenge_Notebook.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Customer Segmentation

## Import Libraries

In [ ]:
#import libraries
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.preprocessing import StandardScaler

# new libraries
from sklearn.cluster import KMeans
from sklearn.metrics import silhouette_score

## Load the Dataset


This dataset is about customers and spending habits.  The problem we are solving is how to group similar customers together and understand the different groups.  This is a common clustering problem called Customer Segmentation.

Link to Dataset:

https://docs.google.com/spreadsheets/d/e/2PACX-1vQGG95zRf7Hmos7Gx7VqpJmksOos3bgxr73KYfmc8soEnvk_L4rVcNPcUHDpmNMDnRyof6UPlm-DTEp/pub?gid=1011669702&single=true&output=csv

In [ ]:
#Load in data
df = pd.read_csv('https://docs.google.com/spreadsheets/d/e/2PACX-1vQGG95zRf7Hmos7Gx7VqpJmksOos3bgxr73KYfmc8soEnvk_L4rVcNPcUHDpmNMDnRyof6UPlm-DTEp/pub?gid=1011669702&single=true&output=csv')

## The Project Challenge

This is a the .head() from a dataset for mall customers and this is the [original source](https://www.kaggle.com/vjchoudhary7/customer-segmentation-tutorial-in-python).

Our challenge is to provide a meaningful analysis of customer groups based on the data.

This is a business analyst task that can be improved with unsupervised learning.

In [ ]:
df.head()

   Gender  Age  Annual Income (k$)  Spending Score (1-100)
0    Male   19                  15                      39
1    Male   21                  15                      81
2  Female   20                  16                       6
3  Female   23                  16                      77
4  Female   31                  17                      40

### Task 1 :

(a) Use  Kmeans to establish clusters based on age and the spending score.  Set a random_state of 42.

(b) How many clusters seems optimal?

(c) Make a scatterplot with these features and color code it based on the cluster.

##### (a) Use  Kmeans to establish clusters based on 'Age' and 'Spending Score (1-100)'.  Remember that you must use scaled data for Kmeans.

In [ ]:
# define the columns you want to use (X is fine, but remember there isn't an X and y)

##### Remember: Do NOT train/test split

In [ ]:
# check head of new data

In [ ]:
# scale the data

## (b) What value for k seems optimal?

### Inertia

In [ ]:
# define a range of values for k to evaluate for inertia, fit and run the model, and plot the results



# plot no of cluster and inertia

### Silhouette Score

In [ ]:
# define a range of values of k to evaluate for silhouette score, fit and run the model, and plot the results


# plot no of cluster and inertia

##### Final Model and Clustering the Dataset

In [ ]:
# instantiate a Kmeans model with the value for k based on elbow plot method and silhouette score

In [ ]:
# fit your model on your scaled data

# add the cluster labels as a column in df (NOT x).

In [ ]:
# examine your dataframe with .head() to make sure the clusters are there

#### (c) Make a scatterplot of 'Age' and 'Spending Score (1-100)'. Color code it based on the cluster.

In [ ]:
# Make a scatterplot and color code it based on the cluster.

##### Investigate each of the clusters. 

For example: What is the minimum and maximum income for each cluster? Hint: use grouby to group by cluster and investigate summary statistics for each cluster.

In [ ]:
# Use .groupby() to investigate the minimum, maximum, and mean value for each feature in each cluster.

### Task 2:

What happens when you combine all three features? (age, income, and spending?)
	As a challenge make a 3D scatterplot!  See [link here](https://plotly.com/python-api-reference/generated/plotly.express.scatter_3d) for info on 3D scatterplot