<a href="https://colab.research.google.com/github/mvince33/Coding-Dojo/blob/main/linear_regression_in_python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [12]:
# Imports
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.linear_model import LinearRegression
from sklearn.pipeline import make_pipeline

In [3]:
url = 'https://docs.google.com/spreadsheets/d/e/2PACX-1vSzUz1zftlTrJDGEcWoDevq5ZK5TiNsULZA-bPUm1sj5QgsJzfxYF0BvGAYGCYfuaH5CoSCQbz9xowV/pub?output=csv'
df = pd.read_csv(url)
df.head()

,MedInc,HouseAge,AveRooms,AveBedrms,Population,AveOccup,Latitude,Longitude,MedHouseVal
0,8.3252,41,6.984127,1.023810,322,2.555556,37.88,-122.23,4.526
1,8.3014,21,6.238137,0.971880,2401,2.109842,37.86,-122.22,3.585
2,7.2574,52,8.288136,1.073446,496,2.802260,37.85,-122.24,3.521
3,5.6431,52,5.817352,1.073059,558,2.547945,37.85,-122.25,3.413
4,3.8462,52,6.281853,1.081081,565,2.181467,37.85,-122.25,3.422

In [5]:
# Set the features and target
X = df.drop(columns = 'MedHouseVal')
y = df['MedHouseVal']

In [7]:
# Split the data
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state = 42)

In [14]:
# Setup the preprocessor
scaler = StandardScaler()
reg = LinearRegression()
reg_pipe = make_pipeline(scaler, reg)

In [16]:
# Fit the model to the training data
reg_pipe.fit(X_train, y_train)

Pipeline(steps=[('standardscaler', StandardScaler()),
                ('linearregression', LinearRegression())])

In [18]:
# Make predictions using the test data
predictions = reg_pipe.predict(X_test)

In [20]:
# Check the performance of the model
prediction_df = X_test.copy()
prediction_df['True Median Price'] = y_test
prediction_df['Predicted Median Price'] = predictions
prediction_df['Error'] = predictions - y_test
prediction_df.head()

,MedInc,HouseAge,AveRooms,AveBedrms,Population,AveOccup,Latitude,Longitude,True Median Price,Predicted Median Price,Error
20046,1.6812,25,4.192201,1.022284,1392,3.877437,36.06,-119.01,0.47700,0.724128,0.247128
3024,2.5313,30,5.039384,1.193493,1565,2.679795,35.14,-119.46,0.45800,1.766778,1.308778
15663,3.4801,52,3.977155,1.185877,1310,1.360332,37.80,-122.44,5.00001,2.711516,-2.288494
20484,5.7376,17,6.163636,1.020202,1705,3.444444,34.28,-118.72,2.18600,2.836012,0.650012
9814,3.7250,34,5.492991,1.028037,1063,2.483645,36.62,-121.93,2.78000,2.603755,-0.176245